@media (max-width: 991px){
	.do_wrap {
		padding: 40px 15px;
	}
	.do_cards {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-around;
		padding-top: 0;
	}
	.card {
		padding-bottom: 50px;
	}
	.tabs {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.cont_title {
		padding-right: 15px;
	}
}